@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Courses</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date-time">
                <div class="date">
                    @course.DateTime.Month.ToString()
                </div>
                <div class="time">
                    @course.DateTime.Day.ToString()
                </div>
            </div>
            <div class="course-detail">
                <div class="detail">
                    @course.Lecturer.UserName<br />
                    @course.Category.Name
                </div>
                <div class="detail-action">
                    Edit | Delete
                </div>
            </div>
        </li>
    }
</ul>
<div class="clear"></div>